--extra-index-url https://download.pytorch.org/whl/cpu
matplotlib
numpy
pillow
opencv-python
opencv-python-headless
tqdm
uvicorn
fastapi
python-multipart
torch==2.3.0+cpu
# torch
torchvision==0.18.0+cpu
