--extra-index-url https://download.pytorch.org/whl/cpu
matplotlib
numpy
pillow
opencv-python-headless  # Use headless version to avoid GUI issues
tqdm
uvicorn
fastapi
python-multipart
torch==2.3.0+cpu
torchvision==0.18.0+cpu
